extends layout

block body_content

	.page#index
		#landing
			.container-fuild
				.row
					.col-5
						.landing_left
							+pageTitle({
								year: 'since 2018',
								t1: '8Note',
								t2: 'Portfolio',
								t3: 'Collection'
							})
							.landing_circle_outline
								.landing_circle
								.text 8
							.block_wipe
					.col-7
						.landing_right#js-scene
							#landing_img.carousel.slide.carousel-fade(data-ride="carousel")
								ol.carousel-indicators
									li(data-target="#landing_img, #landing_bckground" data-slide-to="0" class="active")
									li(data-target="#landing_img, #landing_bckground" data-slide-to="1")
									li(data-target="#landing_img, #landing_bckground" data-slide-to="2")
								.carousel-inner
									#first.carousel-item.active
										.landing_bg(style="background-image: url('../Images/landing_1_bg.png')")
										.big_text.t1 8
										.big_text.t3 O
										.landing_main(data-depth="0.1")(style="background-image: url('../Images/landing_1_main.png')")
									#second.carousel-item
										.landing_bg(style="background-image: url('../Images/landing_2_bg.png')")
										.big_text.t1 8
										.big_text.t3 O
										.landing_main(data-depth="0.1")(style="background-image: url('../Images/landing_2_main.png')")
									#third.carousel-item
										.landing_bg(style="background-image: url('../Images/landing_3_bg.png')")
										.big_text.t1 8
										.big_text.t3 O
										.landing_main(data-depth="0.1")(style="background-image: url('../Images/landing_3_main.png')")
								//-
									a.carousel-control-prev(href="[id^=myCarousel]" role="button" data-slide="prev")
										span.carousel-control-prev-icon(aria-hidden="true")
										span.sr-only Previous
									a.carousel-control-next(href="[id^=myCarousel]" role="button" data-slide="next")
										span.carousel-control-next-icon(aria-hidden="true")
										span.sr-only next
							.big_text.t2(data-depth="0.2") N
							.big_text.t4(data-depth="0.2") T
							.big_text.t5(data-depth="0.2") E
							.block_wipe
				.row
					.col-8
						.landing_info(style="position: relative")
							a(href="")
								p Artstation
							a(href="")
								p Instergram
							a(href="")
								p Plurk
							a(href="")
								p z7x2c0v0b8@gmail.com
							.block_wipe
			.block_wipe.full
		section#about
			.background_right
			.container-fuild
				+blockTitle({
					en: "about",
					tw: "關於"
				})
				//-.block_title
					.wipe_outline
						h1 about
						.wipe
					.title_chinese
						svg(id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink",width="300", height="150", viewBox="150 0 300 300")
							g
								path(fill="none" stroke="#000000" d="M123.414,164.385c4.968,11.177,10.556,25.458,13.04,34.152l-12.418,4.347h4.656v29.805c0,24.527-6.208,47.502-45.328,61.162c-2.794-5.899-10.556-15.834-15.834-20.491c16.145-4.346,25.149-10.866,30.116-18.318H62.562v-46.88h22.353v26.39h18.628v-2.483v-29.184h13.66c-0.62-2.173-1.242-4.967-1.862-7.761c-42.534,5.278-49.986,6.83-54.954,9.002v-0.309c-0.931-4.347-4.036-14.903-6.208-20.491c4.347-0.622,9.935-3.725,16.144-8.382c2.484-1.864,7.451-5.899,13.351-11.488c-14.592,1.242-19.249,2.483-22.043,3.725v-0.31c-1.243-4.657-4.657-15.213-7.451-21.113c3.415-0.62,7.141-2.172,10.245-5.588c3.104-2.483,12.108-11.176,18.318-22.042H41.761v177.276H6.367V17.224h119.841v100.902H94.851l11.487,6.209c-6.21,8.072-13.971,16.455-21.423,22.974l16.146-0.62c4.035-4.658,7.761-9.625,11.487-14.282l18.006,12.418c-12.108,12.729-26.08,25.769-40.361,36.015l19.25-1.863c-0.931-3.416-2.484-6.83-3.727-9.935L123.414,164.385z M41.761,42.061v14.592h49.675V42.061H41.761z M41.761,93.288h49.675V79.006H41.761V93.288z M268.712,252.869c0,17.696-2.485,27.941-13.04,34.151c-10.245,6.208-24.837,6.83-45.639,6.83c-0.931-8.072-4.036-20.491-7.762-30.116H187.37v-8.693h-18.628v36.326h-25.769v-88.483h0.621c-1.552-4.967-4.346-13.971-6.52-19.249c4.968-0.311,10.245-3.416,16.455-8.383c2.483-1.863,7.141-5.898,13.04-11.487c-14.592,1.242-19.25,2.484-22.043,3.725c-1.241-4.967-4.657-15.523-7.451-21.111c3.416-0.931,7.14-2.483,10.245-5.588c2.794-2.794,11.798-11.487,18.318-22.664h-18.938V17.224h122.014V252.869z M210.965,258.146c7.451,0.311,13.971,0.311,16.766,0c4.036,0,5.277-1.552,5.277-5.588V118.126h-56.195l12.108,6.519c-6.209,8.073-13.351,16.145-20.801,22.664l15.213-0.62c4.657-4.969,9.002-9.935,12.729-14.903l17.696,12.729c-12.418,13.04-26.079,26.08-40.049,36.945l18.937-1.861c-1.552-3.416-2.794-6.832-4.346-9.936l17.387-5.588c5.588,11.177,11.798,25.768,14.592,34.15l-18.317,7.141c-0.932-2.794-2.174-6.52-3.105-10.245c-32.289,4.036-44.397,6.208-50.605,7.761h20.49v31.667h18.628v-26.39h23.595V258.146zM181.781,42.061v14.592h51.227V42.061H181.781z M181.781,93.288h51.227V79.006h-51.227V93.288z")
								path(fill="none" stroke="#000000" d="M430.159,121.54c0,0,0,10.246-0.311,14.592c-1.863,93.141-4.036,128.224-12.109,139.089c-5.589,8.693-11.797,11.488-20.179,13.351c-7.763,1.242-18.939,1.553-31.357,1.242c-0.622-10.246-4.347-24.217-9.315-33.221c9.004,0.621,16.765,0.932,21.422,0.932c3.726,0,6.21-1.242,8.693-4.657c4.036-6.21,6.21-30.736,7.452-97.797h-27.941c-4.038,58.057-13.662,105.869-40.362,139.709c-5.899-9.002-17.386-21.731-26.7-27.63c30.426-39.74,32.6-100.902,33.22-179.451h-24.217V53.548h54.643c-4.347-11.487-12.418-26.078-19.87-37.254l32.91-12.42c9.313,12.729,19.559,30.115,23.595,41.603l-19.87,8.071h58.368V87.7h-69.544c0,11.798-0.311,22.664-0.622,33.84H430.159z M534.475,13.499c-2.173,7.45-4.657,14.591-7.45,21.732c15.212,29.805,42.223,60.231,70.165,76.375c-8.693,6.521-20.179,20.181-26.389,29.185c-22.354-15.834-43.466-41.914-59.921-70.167c-15.834,29.496-36.635,53.712-62.713,72.339c-5.277-9.003-16.145-21.732-25.458-29.184c36.015-22.353,63.647-61.473,77.616-109.906L534.475,13.499z M476.728,206.299c28.875,14.591,69.236,38.498,89.416,54.952l-25.771,31.668c-18.005-17.386-57.745-42.844-86.93-59.3L476.728,206.299zM527.025,193.57c-10.867-12.729-34.773-31.668-52.781-45.019l23.596-23.906c18.008,12.109,42.533,29.805,54.643,42.534L527.025,193.57z")
				.row.justify-content-end
					.col-sm-7
						h5 8Note 八音諧
						.about_info
							a(href="") Artstation 
							span / 
							a(href="") Instergram 
							span / 
							a(href="") Plurk 
							span / 
							a(href="") E-mail
						p
							| 支能不情因許不們，中會快打中司公早發時管蘭連變小早聽沒體一務我絕；師臺力大年分。量的可，看事係去候手報望的斯飛式小見的公其展及生生後朋訴研示……夫意
							br
							| * 支能不情因許不們，中會快
							br
							| * 聽沒體一務我絕；師臺力大年分。量的可
							br
							| * 見的公其展及生生後朋訴研示……夫意為
						.about_link about Edith Hsu

		section#project_list
			.container-fuild
				+blockTitle({
					en: "Project",
					tw: "專案"
				})
				mixin projectcardItem(column, title, desc, img)
					.item(class=`${column}`, style=`background-image: url("../Images/${img}")`)
						.adjust_layer
						.wipe
						h4.desc= (title)
						p.desc= (desc)
				.row.project_card
					+projectcardItem(
						'col-sm-7',
						'DnD Caracter Collection',
						'龍與地下城 冒險者收集計劃',
						'project_1.png'
					)
					+projectcardItem(
						'col-sm-3',
						'Other',
						'其他',
						'project_2.png'
					)
				.row.justify-content-end.project_card.right
					+projectcardItem(
						'col-sm-4 right',
						'Luciful’s To-Do List',
						'魔王清單',
						'work1_2.png'
					)
					+projectcardItem(
						'col-sm-6 right',
						'Yakuza',
						'極道兄弟',
						'work1_2.png'
					)
		section#works
			.container-fuild
				+blockTitle({
					style: "center",
					en: "work",
					tw: "作品"
				})
				.row
					mixin workCard(style, img, link)
						a(href=`${link}`, target="_blank")
							.work_card(class=`${style}`, style=`background-image: url("../Images/${img}")`)
						
					.col-md-4.px-md-1
						+workCard(
							'vertical',
							'work1_1.png',
							'https://www.artstation.com/?sort_by=community'
						)
						+workCard(
							'horizon',
							'work1_2.png',
							'https://www.artstation.com/?sort_by=community'
						)
					.col-md-4.px-md-1
						+workCard(
							'horizon',
							'work2_1.png',
							'https://www.artstation.com/?sort_by=community'
						)
						+workCard(
							'vertical',
							'work2_2.png',
							'https://www.artstation.com/?sort_by=community'
						)
					.col-md-4.px-md-1
						+workCard(
							'vertical',
							'work3_1.png',
							'https://www.artstation.com/?sort_by=community'
						)
						+workCard(
							'horizon',
							'work3_2.png',
							'https://www.artstation.com/?sort_by=community'
						)
		section#landing_commision
			.container-fuild
				+blockTitle({
					style: "center",
					en: "commision",
					tw: "委託"
				})
				.row
					h4 非商業委託
					h4(style="margin: 0 50px") |
					h4 商業委託 (Email)
				

block body_script
	script.
		/*
		$('#landing_img').on('slide.bs.carousel', function onSlide (ev) {
			var id = ev.relatedTarget.id;
			switch (id) {
				case "first":
					$( '.big_text' ).css('color','#c3ba8a');
					//-$( '.landing_left, .landing_info').css('background','#f0f0f0')
					break;
				case "second":
					$( '.big_text' ).css('color','#ff7907');
					//-$( '.landing_left, .landing_info').css('background','#f0f0f0')
					break;
				case "third":
					$( '.big_text' ).css('color','#87c0ff');
					//-$( '.landing_left, .landing_info').css('background','#efd8d8')
					break;
				default:
			}
		})
		*/

		var scene = document.getElementById('first');
		var parallax = new Parallax(scene);

		var scene = document.getElementById('second');
		var parallax = new Parallax(scene);

		var scene = document.getElementById('third');
		var parallax = new Parallax(scene);


		//-gsap.to('.block_wipe.full', { width: '0', duration: 1, ease: Power4.easeInOut})
		gsap.to('.block_wipe', { width: '0', duration: 1, ease: Power4.easeInOut, delay: 1.6})
		gsap.to('.text_wipe', { width: '0', duration: 1, ease: Power4.easeInOut, delay: 0.8, stagger: 0.1})
		
		gsap.registerPlugin(ScrollTrigger);
		
		gsap.utils.toArray('section').forEach(section => {

			gsap.timeline({
				scrollTrigger: {
					trigger: section.querySelector('.wipe_outline'),
					//-markers: true,
					start: 'top 75%'
				}
			})
			.to(section.querySelector('.wipe'),		 { width: '100%', duration: 0.4, ease: Power2.easeIn})
			.to(section.querySelector('.wipe_outline h1'),  { opacity: 1,  duration: 0.1, delay: 0.1, ease: Power2.easeIn})
			.to(section.querySelector('.wipe'),			 { left: 'auto', right: '0',  duration: 0.1, ease: Power2.easeIn})
			.to(section.querySelector('.wipe'),			 { width: '0', duration: 0.4, ease: Power2.easeIn});
		});

		gsap.from( document.querySelectorAll('.work_card'),	{scrollTrigger:'.work_card', stagger: 0.1, opacity: 0, y: '100', duration: 1, ease: Power2.easeOut})
		
		gsap.from( document.querySelectorAll('.desc'),		 {scrollTrigger:'.item', stagger: 0.1, opacity: 0, x: '-100', duration: .5, ease: Power2.easeOut})
		
		//-new Vivus('Layer_1', {type: 'oneByOne', duration: 100, start: 'inViewport'});

		//- 	})
		//- 	ScrollTrigger.create({
		//- 		trigger: 'wipetitle_outline',
		//- 		markers: true,
		//- 		start: 'center center',
		//- 		end: 'center 300',
			
		//- 	});
			
		//- 	tl.to(wipetitle_color,		 { width: '100%', duration: 0.4, ease: Power2.easeIn})
		//- 	.to(wipetitle_word,  { opacity: 1,  duration: 0.1, delay: 0.1, ease: Power2.easeIn})
		//- 	.to(wipetitle_color,			 { left: 'auto', right: '0',  duration: 0.1, ease: Power2.easeIn})
		//- 	.to(wipetitle_color,			 { width: '0', duration: 0.4, ease: Power2.easeIn})
		//- });
		
		
		
		//- var tl = gsap.timeline({
		//- 	scrollTrigger: {
		//- 		trigger: 'wipetitle_outline',
		//- 		markers: true,
		//- 		start: 'center center',
		//- 		end: 'center 300'
		//- 	}
		//- });



		//- ScrollTrigger.create({
		//- 	trigger: 'section',
		//- 	markers: true,
		//- 	start: 'top center',
		//- 	end: 'top 100px',
		//- 	end: '+=500',
		//- 	animation: wipetitle,
		//- });
		//- let wipetitle_color = document.querySelectorAll('.wipe');
		//- let wipetitle_word = document.querySelectorAll('.wipe_outline h1')

