html(lang="zh-tw")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="language", content="zh_TW")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    link(rel="icon", type="/image/x-icon", href="./Images/favicon.png")
    link(rel="shortcut icon", href="./images/book/favicon.png")

    block head_title
      title 八音諧 8Note | 龍與地下城 - 凡杜林的失落礦坑 團務紀錄創作本
      //-title 8Note Portfolio Collection
      //-Facebook
      meta(property="fb:app_id", content="...")
      meta(property="og:locale", content="zh_TW")
      meta(property="og:type", content="website")
      block head_facebook
        link(rel="canonical", href="...")
        meta(property="og:url", content="https://z7x2c0v0b8.github.io/8note/book.html")
        meta(property="og:title", content="八音諧 8Note | 龍與地下城 - 凡杜林的失落礦坑 團務紀錄創作本")
        meta(property="og:description", content="龍與地下城 - 凡杜林的失落礦坑 團務紀錄創作本")
        meta(property="og:image", content="./images/bookfacebook_review.png")
        meta(property="og:image:height", content="300")
        meta(property="og:image:width", content="400")
        meta(property="og:image:type", content="image/png")


    block head_style
      //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;900&family=Noto+Serif+TC:wght@700&display=swap")
      link(rel="stylesheet", href="https://unpkg.com/pattern.css")
      link(rel="stylesheet", href="./style.css")

  body
    
    mixin blockTitle(options)
      .block_title(class=`${options.style}`)
        .wipe_outline
          h1= (options.en)
          .wipe
        h2= (options.tw)

    mixin pageTitle(options)
      .pagetitle
        .text_outline
          p= (options.year)
          .wipe_outline
            h1.mix_blend.m-0= (options.t1)
            .text_wipe
          .wipe_outline
            h1.mix_blend.m-0= (options.t2)
            .text_wipe
          .wipe_outline
            h1.mix_blend.m-0= (options.t3)
            .text_wipe

    .body_outline
      block body_content


    block body_header
      include header


    block init_script
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollTrigger.min.js")
      //-script(src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js")

    block body_script

