extends layout

block body_content

	.page#project
		section#banner
			.container-fluid
				.row
					+pageTitle({
						year: '2018 ~',
						t1: 'DnD',
						t2: 'Characters',
						t3: 'Collection',
						desc: '《龍與地下城》冒險者收集計劃'
					})
					.col-3.p-0.left_color
					.col-9.p-0
						.landing_banner
							.mask
							.banner_pattern.pattern-dots-md

		section#intro
			.intro_bg
			.container-fluid
				.row
					.col-sm-3
					.col-sm-9
						p.words
							| 《龍與地下城》( Dungeons & Dragons，簡稱 D&D 或 DnD ），是一款奇幻背景的桌上角色扮演遊戲（ Tabletop Role Playing Game, TRPG ）。根據遊玩的劇本與遊戲規則，遊戲主持人和玩家將扮演其中的角色共同推進故事發展。
							br
							| 此計畫將收錄玩家遊玩 DnD 時的冒險者角色，透過玩家在遊戲前撰寫的角色設定，重新詮釋冒險者的視覺設計。

		section#character
			.container-fluid#character_libery
				.row
					.col-sm-2
					.col-sm-10.p-0
						.main
							.list_group
								.list
									.list_item(data-target="#character_list", data-slide-to="0", class="active", style='background-image: url("./images/dnd_list_2.png")')
									.list_item(data-target="#character_list", data-slide-to="1", style='background-image: url("./images/dnd_list_5.png")')
									.list_item(data-target="#character_list", data-slide-to="2", style='background-image: url("./images/dnd_list_4.png")')
									.list_item(data-target="#character_list", data-slide-to="3", style='background-image: url("./images/dnd_list_3.png")')
								.list.bottom
									.list_item(data-target="#character_list", data-slide-to="4", style='background-image: url("./images/dnd_list_1.png")')
									.list_item(data-target="#character_list", data-slide-to="5", style='background-image: url("./images/dnd_list_6.png")')
									.list_item.comming
										p More
									//-.list_item
						mixin Character(options)
							a.carousel-item(href=`${options.link}`, class=`${options.active}`, target="_blank")
								.character_info
									.info
										p.name_en= (options.enName)
										h2.name= (options.Name)
										p.type= (options.type)
								.character_card(style=`background-image: url('${options.mainImage}')`)
								.character_img
									block
									//- .item.horizon
									//- .item.vertical
						.carousel.slide#character_list(data-ride="carousel", data-interval="false")
							.carousel-inner
								+Character({active: 'active', Name: '費莎', enName: 'Fischer', type: '玩家：羽入 | 阿斯莫 | 聖騎士', mainImage: './images/dnd_cha_card_2.png', link: 'https://www.pixiv.net/artworks/89222570'})
									.item.horizon(style="background-image: url('./images/dnd_cha_2_1.png')")
									.item.vertical(style="background-image: url('./images/dnd_cha_2_2.png')")
									//-.item.lg(style="background-image: url('/images/dnd_cha_2_3.png')")
								+Character({Name: '維德', enName: 'Wade', type: '玩家：阿皮 | 半身人 | 狂戰士', mainImage: './images/dnd_cha_card_5.png', link: 'https://www.pixiv.net/artworks/89395919'})
									.item.horizon(style="background-image: url('./images/work3_2.png')")
									.item.vertical(style="background-image: url('./images/dnd_cha_5_2.png')")
									//-.item.lg(style="background-image: url('/images/dnd_cha_5_3.png')")
								+Character({Name: '伊努斯．里埃塔', enName: 'Inus Rieta', type: '玩家：八音諧 | 堤夫林 | 契術師', mainImage: './images/dnd_cha_card_4.png', link: 'https://www.pixiv.net/artworks/89437181'})
									.item.horizon(style="background-image: url('./images/dnd_cha_4_1.png')")
									.item.vertical(style="background-image: url('./images/dnd_cha_4_2.png')")
									//-.item.lg(style="background-image: url('/images/dnd_cha_4_3.png')")
								+Character({Name: '菲', enName: 'Feris', type: '玩家：紊紊 | 人類 | 遊俠', mainImage: './images/dnd_cha_card_3.png', link: 'https://www.pixiv.net/artworks/89396017'})
									.item.vertical(style="background-image: url('./images/dnd_cha_3_2.png')")
									.item.horizon(style="background-image: url('./images/dnd_cha_3_4.png')")
								+Character({Name: '畢夏普．迦蘭諾德', enName: 'Bisharp Galanodel', type: '玩家：八音諧 | 日精靈 | 吟遊詩人', mainImage: './images/dnd_cha_card_1.png'})
									.item.horizon.w_60(style="background-image: url('./images/dnd_cha_1_1.png')")
									.item.vertical.w_40(style="background-image: url('./images/dnd_cha_1_2.png')")
								+Character({Name: '未曦泫露', enName: 'Dripping Dew Afore Dawn', type: '玩家：Eskar | 斑貓人 | 遊俠 (個人委託)', mainImage: './images/dnd_cha_card_6.png'})
									.item.horizon
									.item.vertical

						//- .character_info
						//- 	.info
						//- 		p.name_en {{en}}
						//- 		h2.name {{name}}
						//- 		p.type {{type}}
						//-.character_card(:style="{ backgroundImage: 'url(' + card + ')' }")
		section#ad
			.container-fluid
				.mask
				.row.justify-content-center
					.col-sm-8
						h3 凡杜林的失落礦坑 團務紀錄創作本
						p.py-4 記錄著冒險者們在名為凡杜林的城鎮中發生的大小事，收錄約 50 張的設定、插圖外，並節錄文字紀錄輔佐圖像，希望能透過此書帶給大家自己在冒險中所獲得的樂趣與感動！
						a(href="./book.html")
							.btn.btn-sm.btn-secondary 詳細資訊

		section#landing_commision
			.container-fuild
				+blockTitle({
					style: "center",
					en: "commision",
					tw: "委託"
				})
				.row
					h4 非商業委託
					h4(style="margin: 0 50px") |
					h4 商業委託 (Email)
				

block body_script
	//- script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
	script.
		gsap.to('.text_wipe', { width: '0', duration: 1, ease: Power4.easeInOut, delay: 0.3, stagger: 0.1})
		
		gsap.registerPlugin(ScrollTrigger);
		
		gsap.utils.toArray('section').forEach(section => {

			gsap.timeline({
				scrollTrigger: {
					trigger: section.querySelector('.wipe_outline'),
					//-markers: true,
					start: 'top 75%'
				}
			})
			.to(section.querySelector('.wipe'),		 { width: '100%', duration: 0.4, ease: Power2.easeIn})
			.to(section.querySelector('.wipe_outline h1'),  { opacity: 1,  duration: 0.1, delay: 0.1, ease: Power2.easeIn})
			.to(section.querySelector('.wipe'),			 { left: 'auto', right: '0',  duration: 0.1, ease: Power2.easeIn})
			.to(section.querySelector('.wipe'),			 { width: '0', duration: 0.4, ease: Power2.easeIn});
		});

	//- 	new Vue({
	//- 		el: '#character_libery',
	//- 		data: {
	//- 			en: 'Fischer',
	//- 			name: '費莎',
	//- 			type: '阿斯莫 / 聖騎士 / 混亂善良',
	//- 			card: '../Images/dnd_cha_card_2.png',
	//- 			imageL: '../Images/dnd_cha_img1_2.png',
	//- 			imageR: '../Images/dnd_cha_img2_2.png',

	//- 			en1: 'Bisharp Galanodel',
	//- 			name1: '畢夏普．迦蘭諾德',
	//- 			type1: '高等精靈(日精靈) / 吟遊詩人 / 混亂善良',
	//- 			image1: '../Images/dnd_cha_1.png',
	//- 			card1: '../Images/dnd_cha_card_1.png',

	//- 			en2: 'Fischer',
	//- 			name2: '費莎',
	//- 			type2: '阿斯莫 / 聖騎士 / 混亂善良',
	//- 			image2: '../Images/dnd_cha_2.png',
	//- 			card2: '../Images/dnd_cha_card_2.png',
	//- 			imageL2: '../Images/dnd_cha_img1_2.png',
	//- 			imageR2: '../Images/dnd_cha_img2_2.png',

	//- 			en3: 'Feris',
	//- 			name3: '菲',
	//- 			type3: '人類 / 遊俠 / 中立善良',
	//- 			image3: '../Images/dnd_cha_3.png',
	//- 			card3: '../Images/dnd_cha_card_3.png',
	//- 			imageL3: '../Images/dnd_cha_img1_3.png',
	//- 			imageR3: '../Images/dnd_cha_img2_3.png',
	//- 		},
	//- 		methods: {
	//- 			changeItem1() {
	//- 				this.en = this.en1;
	//- 				this.name = this.name1;
	//- 				this.type = this.type1;
	//- 				this.card = this.card1;
	//- 				this.imageL = this.imageL1;
	//- 				this.imageR = this.imageR1;
	//- 				return this.en;
	//- 				return this.name;
	//- 				return this.type;
	//- 				return this.card;
	//- 				return this.imageL;
	//- 				return this.imageR;
	//- 			},
	//- 			changeItem2() {
	//- 				this.en = this.en2;
	//- 				this.name = this.name2;
	//- 				this.type = this.type2;
	//- 				this.card = this.card2;
	//- 				this.imageL = this.imageL2;
	//- 				this.imageR = this.imageR2;
	//- 				return this.en;return this.name;return this.type;return this.image;return this.card;
	//- 				return this.imageL;
	//- 				return this.imageR;
	//- 			},
	//- 			changeItem3() {
	//- 				this.en = this.en3;
	//- 				this.name = this.name3;
	//- 				this.type = this.type3;
	//- 				this.image = this.image3;
	//- 				this.card = this.card3;
	//- 				this.imageL = this.imageL3;
	//- 				this.imageR = this.imageR3;
	//- 				return this.en;return this.name;return this.type;return this.image;return this.card;
	//- 				return this.imageL;
	//- 				return this.imageR;
	//- 			}
	//- 		}
	//- 	})
